/* GENERAL BODY */
/* font-family: 'Dancing Script', cursive;
font-family: 'M PLUS 1p', sans-serif; 
font-family: 'Seaweed Script', cursive;
font-family: 'Kaushan Script', cursive;;
*/

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

button {
  color: black;
  background-color: rgba(117, 91, 91, 0.308);
  font-size: 20px;
  border: rgb(153, 106, 106) solid 2px;
  border-radius: 20%;
  font-family: "Seaweed Script", cursive;
}

button:active {
  transform: translateY(5px);
}
button:hover {
  color: rgb(226, 27, 27);
}

input {
  height: 24px;
  width: 60px;
  z-index: 2;
}

.show-input {
  display: none;
  justify-content: flex-end;
  align-content: flex-end;
  position: absolute;
  height: 10%;
  width: 20%;
  bottom: 0%;

  right: 10%;
  z-index: 3;
}

#number-guess {
  display: block;
  order: 1;
  margin: 5px;
}

#submit-button {
  display: block;
  order: 2;
  z-index: 2;
  font-family: "M PLUS 1p", sans-serif;
  height: 30px;
  margin: 5px;
  color: rgb(226, 27, 27);
}

#restart-button {
  position: absolute;
  top: 50%;
  font-size: 30px;
  font-family: "M PLUS 1p", sans-serif;
}

#start-button {
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: black;
  top: 60%;
}
#start-button:hover {
  color: rgb(226, 27, 27);
}

#level-button {
  display: block;
  font-size: 20px;
  height: 30px;
  margin: 10px;
  position: relative;
  justify-content: center;
}
/* //OPENING SCENE */
.opening-page {
  background-image: url("./images/forest_background_leafless_trees_icons_cartoon_design_6829779.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: "Seaweed Script", cursive;
  margin: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 2;
}

.title {
  font-size: 58px;
  padding: 70px;
  background: transparent;
  margin: 0px;
  top: 30%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.title h1 {
  margin: 0;
  padding: 0;
  align-content: center;
  animation-name: main;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: absolute;
  top: 20%;
}

@keyframes main {
  0% {
    color: rgb(248, 232, 9);
  }
  33% {
    color: rgb(238, 133, 14);
  }
  66% {
    color: rgb(236, 22, 6);
  }
  100% {
    color: rgb(10, 9, 9);
  }
}

.opening-gypsy {
  display: none;
  background-image: url("./images/oldwomancartoon.png");
  background-size: cover;
  height: 35%;
  width: 17.5%;
  bottom: 0;
  left: 25%;
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  animation: moving-gypsy;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes moving-gypsy {
  0% {
    bottom: 0;
    left: -5%;
  }
  10% {
    bottom: 0;
    left: 2%;
  }
  50% {
    bottom: 0;
    left: 12%;
  }
  100% {
    bottom: 0;
    left: 25%;
  }
}

.angry-gypsy-red {
  background-image: url("./images/oldwomancartoon.png");
  background-size: cover;
  height: 30%;
  width: 15%;
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: sepia(100%) hue-rotate(280deg);
  -webkit-filter: sepia(100%) hue-rotate(280deg);
  bottom: 0;
  left: 10%;
  z-index: 2;
  animation-name: large-gypsy;
  animation-duration: 15s;
  animation-iteration-count: 1;
}
@keyframes large-gypsy {
  0% {
    height: 30%;
    width: 15%;
  }
  25% {
    height: 66%;
    width: 33%;
  }
  50% {
    height: 99%;
    width: 45%;
  }
  100% {
    height: 130%;
    width: 65%;
  }
}

.hello {
  display: none;
  background-color: rgba(232, 235, 219, 0.63);
  position: absolute;
  height: auto;
  min-height: 25%;
  width: 30%;
  bottom: 10%;
  right: 10%;
  font-size: 26px;
  padding: 20px;
  justify-content: center;
  align-content: center;
  border-radius: 10%;
  font-family: "Kaushan Script", cursive;
}

.hello h2 {
  font-size: 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.hello h3 {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 20px;
}

.hello p {
  font-size: 18px;
}

.hello button {
  font-family: "M PLUS 1p", sans-serif;
}

.tarot {
  position: absolute;
  height: 50%;
  width: 20%;
  bottom: 15%;
  left: 30%;
  box-shadow: 20px 20px 50px black;
}

.bats {
  display: none;
  background-image: url("./images/bat.svg");
  background-size: cover;
  position: absolute;
  top: 20%;
  left: 20%;
  height: 0%;
  width: 0%;
  z-index: 1;
  animation-name: bat-flying;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
@keyframes bat-flying {
  0% {
    top: 20%;
    left: 30%;
    height: 10%;
    width: 15%;
  }
  85% {
    top: 15%;
    left: 15%;
    height: 50%;
    width: 60%;
  }
  100% {
    top: -30%;
    left: 0%;
    height: 90%;
    width: 120%;
  }
}

/* //FLOOR SCENE */
.floor-scene {
  background: white;
  z-index: -1;
}

.ground {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/cartoonground.png");
  background: cover;
  z-index: 0;
}

.ground img {
  opacity: 0.4;
}

.foliage img {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.7;
}

.leaf {
  position: absolute;
}

.leaf img {
  width: 100px;
  height: 100px;
  position: absolute;
}

.rock {
  position: absolute;
}

.rock img {
  width: 100px;
  height: 100px;
  position: absolute;
}
.runner {
  background-image: url("./images/granny-right.gif");
  background-size: cover;
  height: 60px;
  width: 60px;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
}
.runner.granny-right {
  background-image: url("./images/granny-right.gif");
  background-size: cover;
  height: 60px;
  width: 60px;
  position: absolute;
}

.runner.granny-left {
  background-image: url("./images/granny-left.gif");
  background-size: cover;
  height: 60px;
  position: absolute;
}
/* GEMS SCENE */

/* to note: css shapes can be found at https://css-tricks.com/the-shapes-of-css/. */
.timer {
  font-family: "M PLUS 1p", sans-serif;
  color: white;
  position: fixed;
  background-color: rgba(50, 50, 50, 0.6);
  bottom: 0;
  right: 0;
  border: solid 2px black;
  height: 20vh;
  width: 29.5vw;
  z-index: 2;
  display: block;
  text-align: center;
}

.timer h2 {
  margin: 20px;
  font-size: 18px;
  z-index: 1;
}
.instructions {
  font-family: "M PLUS 1p", sans-serif;
  color: white;
  font-size: 20px;
  position: fixed;
  background-color: rgba(50, 50, 50, 0.6);
  bottom: 0;
  left: 0;
  border: solid 2px black;
  height: 20vh;
  width: 70vw;
  z-index: 0;
  display: block;
  text-align: center;
}
.instructions h1 {
  color: white;
  font-size: 20px;
  padding: 10px 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.instructions h2 {
  font-size: 18px;
  z-index: 1;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* THE GEMS */
.gem {
  box-shadow: 20px 20px 50px grey;
}

#rose-quartz,
#danburite,
#pink-topaz,
#kunzite,
#pink-agate,
#carnelian,
#red-jasper,
#garnet,
#ruby,
#sunstone,
#red-aventurine,
#orange-calcite,
#citrine,
#amber,
#septarian,
#yellow-topaz,
#yellow-aventurine,
#sulfur,
#iron-pyrite,
#malachite,
#green-aventurine,
#rainbow-obsidian,
#moss-agate,
#green-fluorite,
#bloodstone,
#gaia-stone,
#chrysoprase,
#emerald,
#howlite,
#green-calcite,
#jade,
#peridot,
#moldavite,
#fuschite,
#amazonite,
#apatite,
#aquamarine,
#turquoise,
#chrysocolla,
#smithsonite,
#azurite,
#aura-quartz,
#blue-calcite,
#angelite,
#celestite,
#blue-chalcedony,
#blue-aventurine,
#blue-lace-agate,
#sapphire,
#larimar,
#lapis-lazuli,
#sodalite,
#amethyst,
#smoky-amethyst,
#lithium-quartz,
#fluorite,
#lepidolite,
#smoky-quartz,
#smoky-herkimer,
#argonite,
#agate,
#desert-rose,
#lodestone,
#serpentine,
#tigers-eye,
#mookaite,
#shungite,
#tourmaline,
#black-spinnel,
#obsidian,
#snowflake-obsidian,
#dalmation-jasper,
#tektite,
#hawks-eye,
#onyx,
#black-opal,
#galena,
#labradorite,
#pumice,
#quartz,
#spirit-quartz,
#phantom-quartz,
#chalcedony,
#selenite,
#abalone-shell,
#moonstone,
#rainbow-moonstone,
#opal,
#diamond,
#clearTopaz {
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
  transition: top 0.4s, left 0.4s;
  transition-timing-function: linear;
  background-repeat: no-repeat;
}

#rose-quartz {
  background: pink;
}

#danburite {
  background: #fff0f7;
}

#pink-topaz {
  background: #ffe1f0;
}

#kunzite {
  background: #f0b2ff;
}

#pink-agate {
  background: #e80ca1;
}

#carnelian {
  background: red;
}

#red-jasper {
  background: #e8370c;
}

#garnet {
  background: #8c1905;
}

#ruby {
  background: #b20000;
}

#sunstone {
  background: #d4440a;
}

#red-aventurine {
  background: #c7380a;
}

#orange-calcite {
  background: #f26a02;
}

#citrine {
  background: #ff5702;
}

#amber {
  background: #ba4501;
}

#septarian {
  background: #baaf4b;
}

#yellow-topaz {
  background: #f0af4b;
}

#yellow-aventurine {
  background: #fcd921;
}

#sulfur {
  background: #fce76f;
}

#iron-pyrite {
  background: #fce76f;
}

#malachite {
  background: #00b033;
}

#green-aventurine {
  background: #005b33;
}

/* Rainbow CSS from https://stackoverflow.com/questions/40557461/rainbow-gradient-on-text-in-css */
#rainbow-obsidian {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    left,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* Standard syntax (must be last) */
}

#moss-agate {
  background: #0a4633;
}

#green-fluorite {
  background: #8ebf85;
}

#bloodstone {
  background: #1c261b;
}

#gaia-stone {
  background: #fce76f;
}

#chrysoprase {
  background: #138561;
}

#emerald {
  background: #007318;
}

#howlite {
  background: white;
}

#green-calcite {
  background: #fce76f;
}

#jade {
  background: #78ff5e;
}

#peridot {
  background: #b7ff18;
}

#moldavite {
  background: #28361f;
}

#fuschite {
  background: #8fbf70;
}

#amazonite {
  background: #67bfac;
}

#apatite {
  background: #1d3536;
}

#aquamarine {
  background: #67bcbf;
}

#turquoise {
  background: #29cedd;
}

#chrysocolla {
  background: #03a7dd;
}

#smithsonite {
  background: #6ebbdd;
}

#azurite {
  background: #051036;
}

#aura-quartz {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    left,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* Standard syntax (must be last) */
}

#blue-calcite {
  background: #85abdd;
}

#angelite {
  background: #72a5dd;
}

#celestite {
  background: #5476b2;
}

#blue-chalcedony {
  background: #ab9ab2;
}

#blue-aventurine {
  background: #172136;
}

#blue-lace-agate {
  background: #6e9fdd;
}

#sapphire {
  background: #3e69dd;
}

#larimar {
  background: #1b85dd;
}

#lapis-lazuli {
  background: #0c10b2;
}

#sodalite {
  background: #010c36;
}

#amethyst {
  background: #5825b2;
}

#smoky-amethyst {
  background: #1a0b36;
}

#lithium-quartz {
  background: #867eb2;
}

#fluorite {
  background: #bc98dd;
}

#lepidolite {
  background: #d3a7dd;
}

#smoky-quartz {
  background: #b2996b;
}

#smoky-herkimer {
  background: #b2727a;
}

#argonite {
  background: #b2727a;
}

#agate {
  background: #b2401b;
}

#desert-rose {
  background: #b2401b;
}

#lodestone {
  background: #aea4b2;
}

#serpentine {
  background: #99867c;
}

#tigers-eye {
  background: #994805;
}

#mookaite {
  background: #ff9502;
}

#shungite {
  background: #343436;
}

#tourmaline {
  background: #202021;
}

#black-spinnel {
  background: #202021;
}

#obsidian {
  background: #202021;
}

#snowflake-obsidian {
  background: #adaeb2;
}

#dalmation-jasper {
  background: #adaeb2;
}

#tektite {
  background: #403a3d;
}

#hawks-eye {
  background: #403a3d;
}

#onyx {
  background: black;
}

#black-opal {
  background: black;
}

#galena {
  background: #3f393c;
}

#labradorite {
  background: #373f37;
}

#pumice {
  background: #3d3944;
}

#quartz {
  background: #f8faef;
}

#spirit-quartz {
  background: #cec9d6;
}

#phantom-quartz {
  background: #706b7a;
}

#chalcedony {
  background: #a3a3a5;
}

#selenite {
  background: #fbfafc;
}

#abalone-shell {
  background: #f3e2b4;
}

#moonstone {
  background: #f0f7d1;
}

#rainbow-moonstone {
  background: #f4f1fa;
}

#opal {
  background: #e6f3f5;
}

#diamond {
  background: #f9f8fa;
}

#clearTopaz {
  background: #f4f5e7;
}
