/* GENERAL BODY */
/* font-family: 'Dancing Script', cursive;
font-family: 'M PLUS 1p', sans-serif; 
font-family: 'Seaweed Script', cursive;*/

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

button {
  background-color: transparent;
  position: absolute;
  top: 50%;
  color: rgb(226, 27, 27);
  font-size: 20px;
  border: rgb(153, 106, 106) solid 2px;
  border-radius: 20%;
  height: 35px;
  width: 100px;
}

input { 
  position: absolute;
  height: 24px;
  width: 60px;
  z-index: 2;
}

#submit-button{
 z-index:2;
}

.show-input {
  height: 20%;
  width: 20%;
  bottom: 0%;
  left: 70%;
  display: none;
  z-index: 2;
}
/* //OPENING SCENE */
.opening-page {
  background-image: url("./images/forest_background_leafless_trees_icons_cartoon_design_6829779.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: "Seaweed Script", cursive;
  margin: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 2;
}

.title {
  font-size: 50px;
  padding: 70px;
  background: transparent;
  margin: 0px;
  top: 15%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.title button {
  background-color: transparent;
  position: absolute;
  top: 50%;
  color: rgb(226, 27, 27);
  font-size: 20px;
  border: rgb(153, 106, 106) solid 2px;
  border-radius: 20%;
  height: 35px;
  width: 100px;
}

.title h1 {
  margin: 0;
  padding: 0;
  align-content: center;
  animation-name: main;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes main {
  0% {
    color: rgb(248, 232, 9);
  }
  33%% {
    color: rgb(238, 133, 14);
  }
  66% {
    color: rgb(236, 22, 6);
  }
  100% {
    color: rgb(10, 9, 9);
  }
}

.openingGypsy {
  background-image: url("./images/oldwomancartoon.png");
  background-size: cover;
  height: 30%;
  width: 15%;
  bottom: 0;
  left: 25%;
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  animation: moving-gypsy;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes moving-gypsy {
  0% {
    bottom: 0;
    left: -5%;
  }
  10% {
    bottom: 0;
    left: 2%;
  }
  50% {
    bottom: 0;
    left: 12%;
  }
  100% {
    bottom: 0;
    left: 25%;
  }
}

.show-input{
  display: inline;
}

.angry-gypsy-red {
  background-image: url("./images/oldwomancartoon.png");
  background-size: cover;
  height: 30%;
  width: 15%;
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: sepia(100%) hue-rotate(280deg);
  -webkit-filter: sepia(100%) hue-rotate(280deg);
  bottom: 0;
  left: 15%;
  z-index: 2;
  animation-name: large-gypsy;
  animation-duration: 15s;
  animation-iteration-count: 1;
}
@keyframes large-gypsy {
  0% {
    height: 30%;
    width: 15%;
  }
  25% {
    height: 66%;
    width: 33%;
  }
  50% {
    height: 99%;
    width: 45%;
  }
  100% {
    height: 130%;
    width: 65%;
  }
}

.hello {
  background-color: rgba(232, 235, 219, 0.63);
  height: 40%;
  width: 30%;
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 26px;
  padding: 20px;
  align-content: center;
  justify-content: center;
}

.hello h2 {
  padding: 20px;
  align-content: center;
  justify-content: center;
}

.hello h3 {
  font-family: 'M PLUS 1p', sans-serif
  font-size: 18px;
}


.hello p {
  font-size: 18px;
  margin: 10px;
}



.hello button {
  height: 90px;
  width: 150px;
}

.bats {
  background-image: url("./images/bat.svg");
  background-size: cover;
  position: absolute;
  top: 20%;
  left: 20%;
  height: 0%;
  width: 0%;
  z-index: 1;
  animation-name: bat-flying;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
@keyframes bat-flying {
  0% {
    top: 20%;
    left: 30%;
    height: 10%;
    width: 15%;
  }
  80% {
    top: 20%;
    left: 20%;
    height: 40%;
    width: 60%;
  }
  100% {
    top: -30%;
    left: 0%;
    height: 90%;
    width: 120%;
  }
}


/* //FLOOR SCENE */
.floor-scene {
  background: white;
  z-index: -1;
}

.ground {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/cartoonground.png");
  background: cover;
  z-index: 0;
}

.ground img {
  opacity: 0.4;
}

.foliage img {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.leaf {
  position: absolute;
}

.leaf img {
  width: 100px;
  height: 100px;
  position: absolute;
}

.rock {
  position: absolute;
}

.rock img {
  width: 100px;
  height: 100px;
  position: absolute;
}
/* //GEMS SCENE */




/* to note: css shapes can be found at https://css-tricks.com/the-shapes-of-css/. */

.gem {
}

.timer {
  font-family: "M PLUS 1p", sans-serif;
  color: white;
  position: fixed;
  background: transparent;
  bottom: 0;
  right: 0;
  border: solid 2px black;
  height: 20vh;
  width: 30vw;
  z-index: 2;
}

.timer h2 {
  margin: 20px;
  font-size: 18px;
  z-index: 1

}
.instructions {
  font-family: "M PLUS 1p", sans-serif;
  color: white;
  font-size: 20px;
  position: fixed;
  background-color: rgba(50, 50, 50, 0.6);
  bottom: 0;
  border: solid 2px black;
  height: 20vh;
  width: 100vw;
  z-index: 0;
}
.instructions h1 {
  margin: 20px;
  color: white;
  font-size: 20px;
}
.instructions h2 {
  color: white;
  font-size: 18px;
  z-index: 1;
  margin: 20px;
}


#cut-diamond {
  border-style: solid;
  border-color: transparent transparent black transparent;
  border-width: 0 25px 25px 25px;
  height: 0;
  width: 50px;
  box-sizing: content-box;
  position: relative;
  margin: 20px 0 50px 0;
}
#cut-diamond:after {
  content: "";
  position: absolute;
  top: 25px;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: black transparent transparent transparent;
  border-width: 70px 50px 0 50px;
}
#oval {
  width: 200px;
  height: 100px;
  background: red;
  border-radius: 100px / 50px;
}

#parallelogram {
  width: 100px;
  height: 50px;
  transform: skew(20deg);
  background: red;
}

#diamond {
  background: pink;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

/* THE GEMS */

#rose-quartz, #danburite {
  height: 20px;
}

#rose-quartz {
  background: pink;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#danburite {
  background: #fff0f7;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#pink-topaz {
  background: #ffe1f0;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#kunzite {
  background: #f0b2ff;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#pink-agate {
  background: #e80ca1;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#carnelian {
  background: red;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#red-jasper {
  background: #e8370c;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#garnet {
  background: #8c1905;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#ruby {
  background: #b20000;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#sunstone {
  background: #d4440a;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#red-aventurine {
  background: #c7380a;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#orange-calcite {
  background: #f26a02;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#citrine {
  background: #ff5702;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#amber {
  background: #ba4501;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#septarian {
  background: #baaf4b;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#yellow-topaz {
  background: #f0af4b;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#yellow-aventurine {
  background: #fcd921;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#sulfur {
  background: #fce76f;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#iron-pyrite {
  background: #fce76f;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#malachite {
  background: #00b033;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#green-aventurine {
  background: #005b33;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

/* Rainbow CSS from https://stackoverflow.com/questions/40557461/rainbow-gradient-on-text-in-css */
#rainbow-obsidian {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    left,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* Standard syntax (must be last) */
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#moss-agate {
  background: #0a4633;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#green-fluorite {
  background: #8ebf85;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#bloodstone {
  background: #1c261b;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#gaia-stone {
  background: #fce76f;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#chrysoprase {
  background: #138561;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#emerald {
  background: #007318;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#howlite {
  background: white;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#green-calcite {
  background: #fce76f;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#jade {
  background: #78ff5e;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#peridot {
  background: #b7ff18;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#moldavite {
  background: #28361f;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#fuschite {
  background: #8fbf70;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#amazonite {
  background: #67bfac;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#apatite {
  background: #1d3536;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#aquamarine {
  background: #67bcbf;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#turquoise {
  background: #29cedd;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#chrysocolla {
  background: #03a7dd;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#smithsonite {
  background: #6ebbdd;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#azurite {
  background: #051036;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#aura-quartz {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    left,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* Standard syntax (must be last) */
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#blue-calcite {
  background: #85abdd;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#angelite {
  background: #72a5dd;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#celestite {
  background: #5476b2;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#blue-chalcedony {
  background: #ab9ab2;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#blue-aventurine {
  background: #172136;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#blue-lace-agate {
  background: #6e9fdd;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#sapphire {
  background: #3e69dd;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#larimar {
  background: #1b85dd;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#lapis-lazuli {
  background: #0c10b2;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#sodalite {
  background: #010c36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#amethyst {
  background: #5825b2;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#smoky-amethyst {
  background: #1a0b36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#lithium-quartz {
  background: #867eb2;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#fluorite {
  background: #bc98dd;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#lepidolite {
  background: #d3a7dd;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#smoky-quartz {
  background: #b2996b;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#smoky-herkimer {
  background: #b2727a;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#argonite {
  background: #b2727a;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#agate {
  background: #b2401b;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#desert-rose {
  background: #b2401b;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#lodestone {
  background: #aea4b2;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#serpentine {
  background: #99867c;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#tigers-eye {
  background: #994805;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#mookaite {
  background: #ff9502;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#shungite {
  background: #343436;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#tourmaline {
  background: #202021;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#black-spinnel {
  background: #202021;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#obsidian {
  background: #202021;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#snowflake-obsidian {
  background: #adaeb2;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#dalmation-jasper {
  background: #adaeb2;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#tektite {
  background: #403a3d;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#hawks-eye {
  background: #403a3d;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#onyx {
  background: black;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#black-opal {
  background: black;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#galena {
  background: #3f393c;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#labradorite {
  background: #373f37;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#pumice {
  background: #1a0b36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#quartz {
  background: #1a0b36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#spirit-quartz {
  background: #1a0b36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#phantom-quartz {
  background: #1a0b36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#chalcedony {
  background: #1a0b36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#selenite {
  background: #1a0b36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#abalone-shell {
  background: #1a0b36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#moonstone {
  background: #1a0b36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#rainbow-moonstone {
  background: #1a0b36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#opal {
  background: #1a0b36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#diamond {
  background: #1a0b36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}

#clearTopaz {
  background: #1a0b36;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  width: 20px;
  position: absolute;
}
